<div>
    <header>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" id="techbl" href="/"> The tech blog </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Homepage <span class="sr-only">Home</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">Dashboard</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="logout" href="/logout">Logout <span class="sr-only">Logout</span></a>
                </li>
            </ul>
        </div>
    </nav>
    </div>